[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
claptcha = "*"
matplotlib = "*"
opencv-python = "*"
elapsedtimer = "*"
fire = "*"
pandas = "*"
keras = "*"
tensorflow = "*"
pydot = "*"
graphviz = "*"

[dev-packages]

[requires]
python_version = "3.9"
